.App {
  text-align: center;
  font-family: Helvetica, sans-serif;

}
.App-header {
  background-color: 	#ff9c3f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.siteTitle {
    color: #5e1616;
    font-size: larger;
    font-weight: bolder;
    margin: 0.3em 0 0.5em 2em;
}

.finder{
  margin: 0.5em 0  0.5em 0;
  background-color: #5e1616;
  color: 	#ff9c3f;
  font-size: large;
  height: 2em;
}

.finder:hover{
  cursor: pointer;
}

.imgFound{
  height: 20em;
  width: 70%;
  margin: 1em;
}

.App-footer{
  background-color: 	#ff9c3f;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
}

.pads{
  padding-right: 1em;
  padding-left: 1em;
}

